:root {
    /* spalvos */
    --color-primary: #E45447;
    --color-secondary: #90ACD1;
    --color-secondary-light: #F9F9FF;
    
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
    display: inline-block;
    width: 100%;
}

/* container */

.container {
    display: inline-block;
    width: 1200px;
    margin-left: calc(50% - 600px);
    padding: 30px 0;
    float:left;

}
/* responsive */
@media ( max-width: 1300px ) {
    .container {
    width: 740px;
    margin-left: calc(50% - 370px);
    }
}
@media ( max-width: 800px ) {
    .container {
    width: 480px;
    margin-left: calc(50% - 240px);
    }
}
@media ( max-width: 580px ) {
    .container {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
    }
}

/*block title all things  
*title h2
* line, line after
*/
.block-title{
    display: inline-block;
    width: 100%;

}
    .block-title > h2{
        display: inline-block; 
        width: 100%;
        font-size: 48px;
        line-height: 50px;
    }
    .block-title > .line{
        display:inline-block;
        margin-top: 20px;
        height: 2px;
        width: 10%;
        min-width: 100px;
        background-color: var(--color-primary);
    }
        .block-title > .line::after{
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: inherit;
            margin-top: -4px;
        }




/* color containers classes */

/* .bg-blue {
    background-color: var(--color-secondary);
} */
.bg-grey {
    background-color: var(--color-secondary-light);
}
.bg-red {
    background-color: var(--color-primary);
}

/* center and color red for red bg*/

    .bg-red.bg-red-text{
        color:#FFF;
    }
   
    .bg-red.text-center{
        text-align: center;
    }
    .bg-red .block-title > .line{
        background-color: #fff; 
    }   
        .bg-red .block-title > .line::after{
                margin-left: calc( 100% / 2 - 5px);
                background-color: inherit; 
        }


/* HEADER */

 

/* HERO */



/* CLIENT LOGOS */

#hero{
    height: 100vh;
    background: linear-gradient(to right, #fff 70%, var(--color-secondary) 30%);
    position: relative;
}
    #hero img {
        position: absolute;
        bottom: 0;
        right: 10%;
    }
    #hero .text-elements {
        margin-top: calc(50vh - 100px);
    }

/* ABOUT MYSELF */



/* STATISTICS and SERVICE OFFERS */

.allCards{
    width: 100%;
    display: inline-block;
}
    .allCards > .card{
        display:inline-block;
        background-color: var(--color-secondary-light);
        float:left;
        margin-right: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
        padding: 80px 20px;
        width: calc( (100% - 3*20px) / 4 );
        text-align: center;
        border-radius: 5px;
        height: 450px; 
        transition: margin-top 0.5s;
    }
        .allCards > .card:last-child{
            margin-right: 0;
        }
        .allCards > .card > .icon {
            dislay: inline block;
            font-size: 40px;
            margin: 20px;
            line-height: 40px;
            border-radius: 20% 30% 40% 50%;
            border: 2px solid var(--color-secondary);
            padding: 20px;
            animation: borderAnim 3s infinite;
            animation-timing-function: linear;
            background-color: #DFE6F4;

        }
        .allCards > .card > .number {
            font-size:48px;
            line-height:50px;
            margin:20px;
        }
        .allCards > .card > .title {
            font-size:20px;
            line-height:30px;
            margin: 20px;
            text-transform: uppercase;
        }

        .allCards > .card:hover{
            margin-top: -25px;
        }

    @keyframes borderAnim {
        0%   {border-radius: 20% 30% 40% 50%;}
        20%  {border-radius: 40% 20% 50% 30%;}
        40%  {border-radius: 50% 40% 30% 20%;}
        60% {border-radius: 30% 50% 20% 40%;}
        80%   {border-radius: 25% 35% 45% 50%;}
        100%   {border-radius: 20% 30% 40% 50%;}
    }

    
    
    
/* SKILLS */



/* LATEST WORKS */



/* JOB HISTORY */



/* TESTIMONIALS */



/* CONTACT ME */

#contact_me p {
    width: 50%;
    margin: 40px 25%;
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
}
.contacts {
    display: inline-block;
    width: 100%;
    font-weight: bold;  
    font-size: 16px;
    line-height: 20px;  

}
    .contacts > a {
        width: 33%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
        line-height: 20px;
        float:left; 

    }
    .contacts:last-child { 
        margin-right: 0; 
    }
    



/* FOOTER */

footer {
    text-align: center;
    color: #777;
}
h6 {
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0;
        
    }
    #social {
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
    }
        #social > .icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            font-size: 30px;
            line-height: 32px;
            padding: 10px;
            color: #CCCCCC;
            transition: color 2s ease-out;
            transition-delay: 0.5s;
        }
            #social > .icon:hover {
                color: var(--color-primary);
            }

        footer p > a{
            text-decoration: none;
            color: var(--color-primary);
        }

/* BACKT TO TOP */